<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Your Classmates</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/stylesheets/base.css"> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav>
        <img class="logo" src="/images/favicon.ico" alt="">
        <a href="/profiles">ALL PROFILES   </a>
        <a id="login" href="/auth/google">___Login with Google</a><br>
    </nav>
    <header>
        <h1>Meet Your Classmates</h1>
    </header>

    <section>
        <h3><%= profile.name %> </h3>
        <p>Project #1 Link:</p>
        <!-- <a href="<%= profile.proj1 %>"><%= profile.proj1 %></a><br><br> -->
        <a href="<%= profile.proj1 %>" target="_blank"><%= profile.proj1 %></a><br><br>
        <img src="/images/fb16.png" alt="">
        <a href="<%= profile.fb %>" target="_blank"><%= profile.fb %></a>
        <h3>Birthplace: <%= profile.birthplace %> </h3>
        <h3>Hometown: <%= profile.hometown %> </h3>
        <h3>Current Place of Residence: <%= profile.res %> </h3>
        <h3>Timezone: <%= profile.timezone %> </h3>
        <h3>Age: <%= profile.age %> </h3>
        <a href="/profiles/<%= profile.id %>/edit">Edit Profile</a>
    </section>
    
    
    
  
</body>
</html>