<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Your Classmates</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/stylesheets/base.css"> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <header>
        <img class="logo" src="/images/favicon.ico" alt="">  <h1>Meet Your Classmates</h1>  <br><br>
    </header>
    <section>
        <a href="/profiles">All Profiles</a>
        <a id="login" href="/auth/google">Login with Google</a>
    </section>
    <section>
        <h3><%= profile.name %> </h3>
        <p>Project #1 Link:</p>
        <a href="<%= profile.proj1 %>"><%= profile.proj1 %></a><br><br>
        <img src="/images/fb16.png" alt="">
        <a href="<%= profile.fb %>"><%= profile.fb %></a>
        <h3>Birthplace: <%= profile.birthplace %> </h3>
        <h3>Hometown: <%= profile.hometown %> </h3>
        <h3>Current Place of Residence: <%= profile.res %> </h3>
        <h3>Timezone: <%= profile.timezone %> </h3>
        <h3>AGE: <%= profile.age %> </h3>
    </section>
    
    
    
  
</body>
</html>