<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>

<body>
    <nav>
        <img class="logo" src="/images/favicon.ico" alt="">
        <a href="/profiles">ALL PROFILES </a>
        <a id="login" href="/auth/google">___Login with Google</a><br>
    </nav>
    <header>
        <h1>Meet Your Classmates</h1>
    </header>
    <section>
        <form id="new-form" action="/profiles/<%= profile.id %>?_method=PUT" method="POST" autocomplete="off">
            <label>Name:</label>
            <input type="text" name="name" placeholder="Richard Dickson" value="<%= profile.name %> "><br>

            <label>Email:</label>
            <input type="text" name="email" placeholder="user@gmail.com" value="<%= profile.email %> "><br>

            <label>Phone #:</label>
            <input type="text" name="phone" placeholder="Richard Dickson" value="<%= profile.phone %> "><br>

            <!-- // needs to be updated for checkbox -->
            <label>Text Group Chat:</label>
            <input type="text" name="grpChat" value="<%= profile.grpChat %> "><br>

            <img src="/images/li16.png" alt="">
            <input type="text" name="li" placeholder=" Ex. https://www.linkedin.com/in/user"
                value="<%= profile.li %> "><br>

            <img src="/images/fb16.png" alt="">
            <input type="text" name="fb" placeholder="***Must start with http" value="<%= profile.fb %> "><br>

            <img src="/images/gh16.png" alt="">
            <input type="text" name="gh" placeholder="Ex. https://github.com/user" value="<%= profile.gh %> "><br>

            <label>Portfolio:</label>
            <input type="text" name="port" placeholder="Ex. firstlast.com" value="<%= profile.port %> "><br>

            <label>Project #1 Link:</label>
            <input type="text" name="proj1" placeholder="Ex. https://github.com/user/project1"
                value="<%= profile.proj1 %> "><br>

            <label>Project #2 Link:</label>
            <input type="text" name="proj2" placeholder="Ex. https://github.com/user/project2"
                value="<%= profile.proj2 %> "><br>

            <label>Project #3 Link:</label>
            <input type="text" name="proj3" placeholder="Ex. https://github.com/user/project2"
                value="<%= profile.proj3 %> "><br>

            <label>Project #4 Link:</label>
            <input type="text" name="proj4" placeholder="Ex. https://github.com/user/project2"
                    value="<%= profile.proj4 %> "><br>

            <label>Current Location:</label>
            <input type="text" name="loc" placeholder="Smallville, KA" value="<%= profile.loc %> "><br>

            <label>Timezone:</label>
            <select name="tZone" value="<%= profile.tZone %> ">
                <option value="PST">PST</option>
                <option value="EST">EST</option>
                <option value="CT">CT</option>
                <option value="MT">MT</option>
            </select><br>

            <label>Birthplace:</label>
            <input type="text" name="bPlace" placeholder="Ex. Las Vegas, NV, USA" value="<%= profile.bPlace %> "><br>

            <label>Ethnicity:</label>
            <input type="text" name="eth" placeholder="Italian/Irish" value="<%= profile.eth %> "><br>

            <label>Age:</label>
            <input type="text" name="age" placeholder="Ex. 30" value="<%= profile.age %> "><br>

            <!-- // dont know how to put input data yet -->
            <label>Birthday:</label>
            <input type="text" name="bDay" value="<%= profile.bDay %> "><br>

            <label>Education:</label>
            <input type="text" name="ed" placeholder="Ex. B.A. in Architecture" value="<%= profile.ed %> "><br>

            <label>Previous Career:</label>
            <input type="text" name="work" placeholder="Ex. Garbageman" value="<%= profile.work %> "><br>

            <label>Likes:</label>
            <input type="text" name="likes" placeholder="Ex. cats, roller coasters, snowboarding"
                value="<%= profile.likes %> "><br>

            <label>Dislikes:</label>
            <input type="text" name="dislikes" placeholder="Ex. bugs, mornings, math"
                value="<%= profile.dlikes %> "><br>

            <input type="submit" value="Save Profile">
        </form>


    </section>

</body>

</html>