<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Meet Your Classmates</title>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- <link rel="stylesheet" href="/stylesheets/base.css"> -->
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    <nav>
        <img class="logo" src="/images/favicon.ico" alt="">
        <a href="/profiles">ALL PROFILES   </a>
        <a id="login" href="/auth/google">___Login with Google</a><br>
    </nav>
    <header>
        <h1>Meet Your Classmates</h1>
    </header>

    <section>
        <h1><%= profile.name %></h1>
        <h3>Email: <%= profile.email %></h3>
        <h3>Phone: <%= profile.phone %></h3>
        <h3>Add to Text Group Chat? <%= profile.grpChat ? 'Yes' : 'None' %></h3>

        <img src="/images/li16.png" alt="">
        <a href="<%= profile.li %>" target="_blank"><%= profile.li %></a><br><br>

        <img src="/images/fb16.png" alt="">
        <a href="<%= profile.fb %>" target="_blank"><%= profile.fb %></a><br><br>

        <img src="/images/gh16.png" alt="">
        <a href="<%= profile.fb %>" target="_blank"><%= profile.fb %></a><br><br>

        <h3>Portfolio: </h3>
        <a href="<%= profile.port %>" target="_blank"><%= profile.port %></a><br><br>
        <h3>Project #1 Link: </h3>
        <a href="<%= profile.proj1 %>" target="_blank"><%= profile.proj1 %></a><br><br>
        <h3>Project #2 Link:</h3>
        <a href="<%= profile.proj2 %>" target="_blank"><%= profile.proj2 %></a><br><br>
        <h3>Project #3 Link:</h3>
        <a href="<%= profile.proj3 %>" target="_blank"><%= profile.proj3 %></a><br><br>
        <h3>Project #4 Link:</h3>
        <a href="<%= profile.proj4 %>" target="_blank"><%= profile.proj4 %></a><br><br>

        <h3>Current Location: <%= profile.loc %></h3>
        <h3>Timezone: <%= profile.tZone %></h3>
        <h3>Birthplace: <%= profile.bPlace %></h3>
        <h3>Ethnicity: <%= profile.eth %></h3>
        <h3>Age: <%= profile.age %></h3>
        <h3>Birthday: <%= profile.bDay %></h3>
        <h3>Education: <%= profile.ed %></h3>
        <h3>Previous Career: <%= profile.work %></h3>
        <h3>Likes: <%= profile.likes %></h3>
        <h3>Dislikes: <%= profile.dislikes %></h3>
        <a href="/profiles/<%= profile.id %>/edit">Edit Profile</a>
    </section>
    
    
    
  
</body>
</html>