<%- include('../partials/header.ejs') %>

    <section>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tr>
                <td></td>
                <td>Designer: <span class="black">
                        <%= project.userName %>
                    </span> </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td>Project Title: <span class="black">
                        <%= project.title %>
                    </span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br>Deployed Project Link:<br><span class="black"><a href="<%= project.link %>" target="_blank">
                            <%= project.link %>
                        </a><br><br></span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Project README: <br><span class="black"><a href="<%= project.readMe %>" target="_blank">
                            <%= project.readMe %>
                        </a></span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br>Description:<br> <span class="black">
                        <%= project.descript %>
                    </span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td><br>What I'm Looking for Feedback On:<br> <span class="black">
                        <%= project.feedbackType %>
                    </span> </td>
                <td><br></td>
            </tr>
            <tr></tr>
            <td></td>

            <% if (user) { %>
                <% if (project.user.equals(user._id)) { %>
                    <br><a href="/projects/<%= project.id %>/edit">Edit Project</a>
                    <% } %>
                        <% } %>
                            <td>
                                <form id="feedback-form" action="/projects/<%= project._id %>/feedback" method="POST">
                                    <label>
                                        <ul><br>Feedback / Comments / Suggestions:</ul>
                                    </label>
                                    <textarea id="feedback-box" name="content"
                                        placeholder="I love the way you...I found a bug...Maybe you could add... "></textarea><br>
                                    <input id="submit-feedback" type="submit" value="Submit Feedback">
                                </form>
                            </td>
                            <td></td>
                            </tr>
        </table>
        <% if (project.feedbacks.length) { %>
            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Date</th>
                        <th></th>
                    </tr>
                </thead>
    
                
            <% project.feedbacks.forEach(function(r) { %>

                <tr class=>
                    <td><%= r.userName %></td>
                    <td><%= r.createdAt.toLocaleDateString() %> <td>
                    <td class="black"><%= r.content %> </td>
                </tr>
                        <% }) %> 
                            <% } else { %>
                                <h5>No Feedback Yet</h5>
                                <% } %>

    </section>




    </body>

    </html>