<!-- <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/stylesheets/index.css">
</head>
<body>
    
    <header>
        <nav>
            <img class="logo" src="/images/favicon.ico" alt="">
            <a href="/profiles">ALL PROFILES   </a>
            <a id="login" href="/auth/google">___Login with Google</a><br>
        </nav>
        <h1>Meet Your Classmates</h1>
    </header> -->
<%- include('../partials/header.ejs') %>
    <a href="/projects/new">Add new project</a>
    <ul id="all-projects">
        <% projects.forEach(p=> { %>
            <li id="card">
                
                <img id="indiv" src="/images/favicon.ico" alt=""><br>
                <% if (user) { %>
                    <% console.log(p,"<--p")
                       console.log(user,"<--user")  %> 
                    <% if (p.user.equals(user._id)) { %>
                        <form class="delete-form" action="/projects/<%= p.id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                        <% } else {%>
                         <br>
                         <% } %>
                <% } %>
                
               
                    <p id="full-title">
                        <style>
                            li p {
                                color: red;
                            }
                        </style>
                        <%= p.title %> <br> <%= p.author %>

                    </p>
                    
                    <a id="feedback-button" href="/projects/<%= p.id %>">DETAILS</a>
        



            </li>
            <% }) %>
    </ul>

    </body>

    </html>