<%- include('../partials/header.ejs') %>

    <section>
        <h1><u>
                <%= project.title %><br><br>
            </u></h1>
        <table>
            <thead>
                <tr>
                    <th><u>LINK</u></th>
                    <th><u>AUTHOR</u></th>
                    <th><u>README</u></th>
                </tr>
            </thead>
            
            <tr>
                <td><a href="<%= project.link %>" target="_blank">
                    <%= project.link %>
                </a><br></td>
                <td>
                    <%= project.author %>
                </td>
                <td><a href="<%= project.readMe %>" target="_blank">
                        <%= project.readMe %>
                    </a>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td><br></td>
                <td><br></td>
            </tr>
            <tr></tr>
                <td></td>
                <td>
                    <form id="feedback-form" action="/projects/<%= project._id %>/feedback" method="POST">
                        <label>Feedback / Comments / Suggestions:<br><br></label>
                        <textarea id="feedback-box" name="content" placeholder="I love the way you...I found a bug...Maybe you could add... "></textarea><br>
                        <!-- <label>Rating:</label>
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5"selected>5</option>
                        </select> -->
                        <input type="submit" value="Submit Feedback">
                    </form>
                </td>
                <td></td>
            </tr>
        </table>
        <% if (project.feedbacks.length) { %>
        <table>
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                <% project.feedbacks.forEach(function(r) { %>
                    <tr>
                        <td>
                            <%= r.createdAt.toLocaleDateString() %>
                        </td>
                        <td>
                            <%= r.content %>
                        </td>
                    </tr>

                    <% }) %>
            </tbody>
        </table>
        <% } else { %>
            <h5>No Feedback Yet</h5>
        <% } %>
        <% if (user) { %>
            <% if (project.user.equals(user._id)) { %>
                <a href="/projects/<%= project.id %>/edit">Edit Project</a>
            <% } %>
        <% } %>
       
            
    </section>




    </body>

    </html>