<%- include('../partials/header.ejs') %>

    <section>
        <table>
            <thead>
                <tr>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>

            <tr>
                <td></td>
                <td>Designer: <span class="black">
                        <%= project.userName %>
                    </span> </td>
                <td>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td>Project Title: <span class="black">
                        <%= project.title %>
                    </span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Deployed Project Link: <span class="black"><a href="<%= project.link %>" target="_blank">
                            <%= project.link %>
                        </a><br></span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Project README: <span class="black"><a href="<%= project.readMe %>" target="_blank">
                            <%= project.readMe %>
                        </a></span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Description: <span class="black">
                        <%= project.descript %>
                    </span> </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>What I'm Looking for Feedback On: <span class="black">
                        <%= project.feedbackType %>
                    </span> </td>
                <td><br></td>
            </tr>
            <tr></tr>
            <td></td>

            <% if (user) { %>
                <% if (project.user.equals(user._id)) { %>
                    <br><a href="/projects/<%= project.id %>/edit">Edit Project</a>
                    <% } %>
                        <% } %>
                            <td>
                                <form id="feedback-form" action="/projects/<%= project._id %>/feedback" method="POST">
                                    <label>
                                        <ul>Feedback / Comments / Suggestions:</ul>
                                    </label>
                                    <textarea id="feedback-box" name="content"
                                        placeholder="I love the way you...I found a bug...Maybe you could add... "></textarea><br>
                                    <input type="submit" value="Submit Feedback">
                                </form>
                            </td>
                            <td></td>
                            </tr>
        </table>
        <% if (project.feedbacks.length) { %>
            <% project.feedbacks.forEach(function(r) { %>

                <%= r.userName %>
                    <%= r.createdAt.toLocaleDateString() %> <span class="black">
                            <%= r.content %><br>
                        </span>
                        <% }) %>

                            <% } else { %>
                                <h5>No Feedback Yet</h5>
                                <% } %>

    </section>




    </body>

    </html>