<%- include('../partials/header.ejs') %>
    <a href="/projects/new">Add New Project</a>
    <ul id="all-projects">
        <% projects.forEach(p=> { %>
            <li id="card">
                <img id="indiv" src="/images/favicon.ico" alt=""><br>
                <% if (user) { %>
                    <% if (p.user.equals(user._id)) { %>
                        <form class="delete-form" action="/projects/<%= p.id %>?_method=DELETE" method="POST">
                            <button type="submit">X</button>
                        </form>
                        <% } else {%>
                            <br>
                            <% } %>
                                <% } %>


                                    <p id="full-title">
                                        Project Title: <span class="black">
                                            <%= p.title %>
                                        </span> <br>
                                        Designer: <span class="black">
                                            <%= p.userName %>
                                        </span>
                                    </p>

                                    <a id="feedback-button" href="/projects/<%= p.id %>">DETAILS</a>
            </li>
            <% }) %>
    </ul>

    </body>

    </html>