<%- include('../partials/header.ejs') %>
    <section>
        <form id="new-form" action="/projects/<%= project.id %>?_method=PUT" method="POST" autocomplete="off">

            <label>Project Title:</label><br>
            <input type="text" name="title" placeholder="Connect 4 Game" value="<%= project.title %>"><br><br>

            <label>Deployed Project Link (must start with https://www.):</label><br>
            <input type="text" name="link" placeholder="https://project.herokuapp.com"
                value="<%= project.link %>"><br><br>

            <label>README Link (must start with https://www.):</label><br>
            <input type="text" name="readMe" placeholder="https://github.com/user/game"
                value="<%= project.readMe %>"><br><br>

            <label>Short Description of Your Project:</label><br>
            <input type="text" name="descript" placeholder="An app to help users use..."
                value="<%= project.descript %>"><br><br>

            <label>What specifically would you like feedback on?:</label><br>
            <input type="text" name="feedbackType" placeholder="specific feature, CSS, UX, everything"
                value="<%= project.feedbackType %>"><br><br>

            <input type="submit" value="Submit Edits">
        </form>

    </section>

    </body>

    </html>