<%- include('../partials/header.ejs') %>

    <section>
                
        <table>
            <thead>
                <tr>
                    <th><u></u></th>
                    <th><u></u></th>
                    <th><u></u></th>
                </tr>
            </thead>
            
            <tr>
                <td></td>
                <td>Designer: <%= project.userName %></td>
                <td>
                </td>
            </tr>
            <tr>
                <td><br></td>
                <td>Project Title: <%= project.title %></td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Deployed Project Link: <a href="<%= project.link %>" target="_blank">
                    <%= project.link %>
                </a><br></td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Project README: <a href="<%= project.readMe %>" target="_blank">
                    <%= project.readMe %>
                </a></td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>Description: <%= project.descript %>  </td>
                <td><br></td>
            </tr>
            <tr>
                <td><br></td>
                <td>What I'm Looking for Feedback On: <%= project.feedbackType %> </td>
                <td><br></td>
            </tr>
            <tr></tr>
                <td></td>
                <% if (user) { %>
                    <% if (project.user.equals(user._id)) { %>
                        <br><a href="/projects/<%= project.id %>/edit">Edit Project</a>
                    <% } %>
                <% } %>
                <td>
                    <form id="feedback-form" action="/projects/<%= project._id %>/feedback" method="POST">
                        <label>Feedback / Comments / Suggestions:<br><br></label>
                        <textarea id="feedback-box" name="content" placeholder="I love the way you...I found a bug...Maybe you could add... "></textarea><br>
                        <!-- <label>Rating:</label>
                        <select name="rating">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5"selected>5</option>
                        </select> -->
                        <input type="submit" value="Submit Feedback">
                    </form>
                </td>
                <td></td>
            </tr>
        </table>
        <% if (project.feedbacks.length) { %>
        <!-- <table>
            <thead>
                <tr>
                    <th class=>Name</th>
                    <th>Date</th>
                    <th>Feedback</th>
                </tr>
            </thead>
            <tbody>
                <% project.feedbacks.forEach(function(r) { %>
                    <tr>
                        <td class="comment">
                            <%= r.userName %> 
                        </td>
                        <td class="comment">
                            <%= r.createdAt.toLocaleDateString() %>
                        </td>
                        <td class="comment">
                            <%= r.content %>
                        </td>
                    </tr> -->

                    <%= r.userName %> <%= r.createdAt.toLocaleDateString() %>  <%= r.content %>

                    <% }) %>
            </tbody>
        </table>
       
        <% } else { %>
            <h5>No Feedback Yet</h5>
        <% } %>
       
       
            
    </section>




    </body>

    </html>